@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* GLOBAL */

.warning {
  margin: 50px 8px 20px 8px;
  background-color: rgb(197, 111, 111);
  padding: 20px;
  opacity: 0.8;
  font-size: small;
  text-align: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #f5f5f5;
  line-height: 1.5;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  outline: none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
  border: 1px solid rgba(165, 165, 165, 0.5);
  border-radius: 4px;
  padding: 5px;
  box-shadow: none;
}

input:focus {
  outline: none;
  border: 1px solid yellow;
}

textarea {
  resize: none;
  font-family: inherit;
  border-radius: 4px;
  padding: 5px;
}

a:link,
a:visited {
  color: inherit;
}

ul {
  list-style-type: none;
}

footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column: 1/-1;
  color: whitesmoke;
  padding: 40px;
  background-color: black;
  margin-top: 80px;
  justify-content: center;
}

footer p {
  grid-column: 2 / span 1;
  text-align: center;
}

footer p {
  margin: 5px;
}

/* NAVBAR */

header {
  padding: 40px 20px;
  background: #fff;
  align-items: center;
  justify-items: center;
}

header h1 {
  grid-column: span 6;
}

nav {
  grid-column: span 6;
  display: flex;
}

nav > * {
  margin-right: 12px;
}

nav > *:last-child {
  margin-right: 0;
}

.drop-button {
  border: none;
  cursor: pointer;
}

.drop-button:hover,
.drop-button:focus {
  background-color: aquamarine;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-size: 14px;
  background-color: gray;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 30px 12px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(239, 239, 140);
  max-width: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* HOME PAGE */
.homeContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 40px;
  grid-column: 2 / span 10;
}

.homeContainer h2 {
  grid-column: 1 / -1;
  justify-self: center;
}

.homeContainer h4 {
  text-align: center;
  margin-top: 20px;
}

.practiceDescription {
  grid-column: 1 / -1;
  padding: 0 10px;
}

.servicesContainer {
  grid-column: 1/-1;
  padding: 0 10px;
}

.servicesContainer li {
  margin: 5px;
}

.staffContainer {
  grid-column: 1/-1;
  padding: 0 10px;
}

.staffContainer li {
  margin: 5px;
}

.contactContainer {
  grid-column: 1/-1;
  padding: 0 10px;
}

.contactContainer p {
  margin: 5px;
}

.hoursContainer {
  grid-column: 1/-1;
  padding: 0 10px;
}

.hoursContainer p {
  margin: 5px;
}

.homeContainer ul {
  margin: 0;
  padding: 0;
}

@media (min-width: 740px) {
  .servicesContainer,
  .staffContainer,
  .contactContainer,
  .hoursContainer {
    grid-column: span 1;
    text-align: center;
    margin-top: 20px;
  }
  .practiceDescription {
    text-align: center;
  }
}

/* PROFILE */

.profileContainer {
  margin-top: 40px;
  grid-column: 2 / span 10;
  text-align: center;
}

.patientProfileContainer {
  max-width: 100%;
  display: grid;
}

.profileLinks {
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
}

.profileLink {
  margin-right: 10px;
}

/* SIGN UP AND SIGN IN */

.authContainer {
  grid-column: 2 / span 10;
}

.authContainer h2 {
  text-align: center;
  margin-top: 40px;
}

.authMessage {
  text-align: justify;
  padding: 10px;
}

.authFormContainer {
  display: grid;
  margin-top: 20px;
  padding: 20px 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.authFormContainer label {
  margin-bottom: 3px;
}

.authFormContainer input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid gray;
}

.authFormContainer button {
  background-color: aquamarine;
  padding: 10px;
  border: 1px solid gray;
  margin-top: 5px;
}

@media (min-width: 740px) {
  .authContainer {
    grid-column: 3 / span 8;
  }
}

@media (min-width: 900px) {
  .authContainer {
    grid-column: 4 / span 6;
  }
}

/* MESSAGES */
.messagesContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid gray;
  border-radius: 4px;
}

.messagesContainer h3 {
  grid-column: 2 / span 3;
}
.composeSendContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: 1 / span 1;
  text-align: start;
  padding: 10px;
  border-top: 1px solid gray;
  justify-content: center;
}

.messageDisplayContainer {
  grid-column: 2 / span 4;
}

/* MESSAGE DISPLAY */

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid gray;
  border-left: 1px solid gray;
}

.gridHeader {
  padding: 10px 0;
  background-color: green;
}

.messageDisplayWrapper .gridCell {
  padding: 8px;
}

.gridRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 1 / -1;
  border-top: 1px solid gray;
  align-items: center;
  padding: 0 5px;
}

.gridRow:first-child {
  border-top: none;
}

deleteMessageButton:hover {
  cursor: pointer;
}

/* MESSAGE FORM */
.messageFormContainer {
  display: grid;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 20px 20px;
  grid-column: 1 / -1;
}

.messageFormContainer input {
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid gray;
}

.messageFormContainer textarea {
  border-radius: 4px;
  padding: 10px 10px 50px 10px;
  border: 1px solid gray;
}

.messageFormContainer input:first-child {
  border: none;
}

.messageFormContainer button:first-child:hover {
  background-color: inherit;
}

.messageButton {
  margin-top: 8px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: aquamarine;
}

/* USERSEARCH */
.userSearch .MuiInputBase-root.MuiOutlinedInput-root {
  padding-bottom: 2px;
  margin-bottom: 10px;
  background-color: white;
}

/* MESSAGE CONTENT */

.messageContentContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px;
}

.content {
  grid-column: 1/-1;
  background-color: lightgray;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px;
  min-height: 50px;
  text-align: start;
}

.content span {
  font-size: small;
  font-style: italic;
  margin-bottom: 5px;
  display: block;
}

.replyButton {
  grid-column: 1/-1;
  margin: 5px;
  margin-bottom: 10px;
}

.messageDetails {
  grid-column: 2 / span 2;
  justify-self: start;
  margin: 8px;
  padding-left: 10px;
}

.messageDetails span {
  font-size: small;
  margin-right: 5px;
}

@media (min-width: 740px) {
  .messageDetails {
    grid-column: span 1;
    justify-self: center;
  }
}

/* MEDICAL HISTORY */
.medHistoryContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px;
}

.medHistoryContainer h3 {
  grid-column: 1/-1;
}

.medInfoContainer {
  grid-column: 1/-1;
}

/* MEDCIAL INFO */
.medInfoWrapper h3 {
  background-color: green;
  padding: 4px;
  border-radius: 3px;
}

.medInfoWrapper ul {
  padding: 5px;
  justify-self: center;
}

.medInfoButton {
  color: blue;
  text-decoration: underline;
}

.medInfoForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.medInfoList {
  display: grid;
  justify-self: center;
  gap: 5px;

  justify-items: center;
  padding: 10px;
}

.medInfoList button {
  justify-self: center;
  font-size: small;
}

.medInfoList p {
  margin: 0;
}

.additionalNotes {
  font-size: smaller;
}

@media (min-width: 740px) {
  .medInfoContainer {
    grid-column: span 2;
  }
  .medInfoContainer input {
    margin: 5px;
  }
  .medInfoContainer textarea {
    margin: 5px;
  }
  .medInfoWrapper h3 {
    margin: 5px;
  }
}

@media (min-width: 900px) {
  .medInfoContainer {
    grid-column: span 1;
  }
}

hr {
  height: 1px;
  width: 50%;
  background-color: gray;
  border: none;
  opacity: 0.5;
}
